/* 
1.0 Base
    1.1 Header
        1.1.1 Top Menu
        1.1.2 Header Menu
    1.2 Footer
        1.2.1 Footer Top
        1.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
        3.1.1 Content Page 1
        3.1.2 Cotent Page 2
    3.2 Blog Content
        3.2.1 Item Blog Content
*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'), url(https://fonts.gstatic.com/s/cormorantgaramond/v7/co3bmX5slCNuHLi8bLeY9MK7whWMhyjorg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
.font-common {
  font-family: 'Fira Sans', sans-serif;
}
.font-stylized {
  font-family: 'Cormorant Garamond', serif;
}
.reset {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.marginCommon {
  margin: auto 5.2083vh;
}
.listStyle {
  list-style: none;
}
.linkStyle {
  text-decoration: none;
  color: #696969;
}
.linkStyle:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.btnDis {
  background-color: #333333;
  width: 19.7rem;
  height: 4.8rem;
}
/*
* Start CSS header
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/16-home-jewelry-v2_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.header .nav .nav-bar {
  width: 89.5vw;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container {
  width: 89.5vw;
  position: relative;
}
.header .header__container .container-fluid {
  position: relative;
}
.logo img {
  width: 175px;
  height: 60px;
}
.back {
  background-color: #333333;
  opacity: 0.8;
  z-index: 300;
}
.header__navbar-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.header__navbar-list li {
  list-style: none;
}
.header__navbar-list a {
  text-decoration: none;
  color: #696969;
  font-size: 5vh;
}
.header__navbar-list a:hover {
  text-decoration: none;
  color: #d6ba8d;
}
/*
* Start navbar animation
*/
.burger div {
  width: 3rem;
  height: 0.1rem;
  background-color: #ffffff;
  margin: 0.5rem 0;
}
.header__navbar-list {
  position: fixed;
  right: -50vw;
  height: 100vh;
  top: 0px;
  background-color: #ffffff;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.header__navbar-list-active {
  right: 50%;
  transition: 1s;
  z-index: 1000;
}
.over__opacity-black {
  position: fixed;
  background-color: #333333;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  opacity: 0.8;
}
.burger {
  cursor: pointer;
}
/*
* End navbar animation
*/
/*
* Start CSS icon 
*/
.sign__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign__icon .checkout__icon {
  margin-right: 2.5rem;
  color: #ffffff;
  font-size: 2.5rem;
  position: relative;
}
.sign__icon .cart_nu_count {
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-family: lato;
}
/*
* End CSS icon 
*/
/*
* Start CSS slider
*/
.slider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seasion {
  font-size: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 3.2rem;
  letter-spacing: 1.2rem;
  font-weight: 400;
  color: #696969;
}
.slider__caption {
  font-family: 'Cormorant Garamond', serif;
  font-size: 9.7rem;
  line-height: 10rem;
  letter-spacing: 3rem;
  font-weight: 600;
  font-style: italic;
  color: #333333;
  margin: 2rem 0rem 3rem 0rem;
}
.button_discover {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #333333;
  width: 19.7rem;
  height: 4.8rem;
  font-family: 'Fira Sans', sans-serif;
}
.social {
  text-align: end;
  position: absolute;
  right: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.social li {
  list-style: none;
}
.social a {
  text-decoration: none;
  color: #696969;
  color: #ffffff;
}
.social a:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.social a:hover {
  font-size: 120%;
  transition: 0.5s;
}
/*
* End CSS slider
*/
/*
* End CSS header
*/
/*
* Reponsive 
*/
@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
  .logo img {
    width: 87.5px;
    height: 30px;
  }
  .slider__caption {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6rem;
    line-height: 9rem;
    letter-spacing: 1rem;
    font-weight: 300;
  }
}
.footer {
  background-color: #333333;
}
.footer__content_top-menu {
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer__content_top-menu .footer__content_top-menu-list {
  list-style: none;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
}
.footer__content_top-menu .footer__content_top-menu-list .footer__content_top-menu-item {
  margin: 0 1rem;
  text-decoration: none;
  color: #696969;
  text-transform: uppercase;
}
.footer__content_top-menu .footer__content_top-menu-list .footer__content_top-menu-item:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.footer__content_top-subscrice {
  width: 90%;
  height: 30%;
  border: 0.1rem solid #696969;
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.footer__content_top-subscrice:hover {
  background-color: #d6ba8d;
}
.footer__content_bottom-social {
  display: flex;
  justify-content: flex-end;
}
.footer__content_bottom-left {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #696969;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.wapper__span {
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wapper__span:hover {
  border-radius: 50%;
  background-color: #d6ba8d;
  color: #696969;
}
.footer__content_top-logo {
  padding: 2rem;
}
.footer__line {
  width: 100%;
  height: 0.1rem;
  background-color: #242424;
}
@media screen and (max-width: 768px) {
  .footer__content_top-subscrice {
    height: 100%;
  }
}
/*<-----------------------------------3.1 Home_page_content--------------------------------------------->*/
.container__home-page {
  width: 62.5vw;
  margin: auto;
}
.slogan {
  background-color: #ffffff;
  border-bottom: 0.01px solid #efefef;
  text-align: center;
}
.slogan__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.01px solid #efefef;
}
.slogan__item-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
  color: #333333;
}
.slogan__item-detail {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #ababab;
}
.preamble__main {
  font-size: 3.4rem;
  line-height: 4.8rem;
  color: #333333;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 14vh;
}
/*
*feature items 
*/
.feature__items {
  width: 89.5vw;
  margin: 0 auto;
  margin-bottom: 14vh;
}
.feature__items .container-fluid {
  flex-wrap: wrap;
}
.feature__items .container-fluid .feature__item-img--small,
.feature__items .container-fluid .feature__item-img--big {
  transition: transform 0.5s;
}
.feature__items .container-fluid .feature__item-img--small:hover,
.feature__items .container-fluid .feature__item-img--big:hover {
  transform: scale(0.9);
}
@media (max-width: 576px) {
  .feature__item-img--big {
    order: -1;
  }
}
@media (max-width: 768px) {
  .feature__item-img--big {
    order: -1;
  }
}
@media (max-width: 992px) {
  .feature__item-img--big {
    order: -1;
  }
}
/*
*feature product 
*/
.feature__product-content-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
  font-size: 5.6rem;
  line-height: 2.8rem;
  color: #333333;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}
.feature__product-content-title .fi {
  font-size: 5.6rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  line-height: 2.8rem;
}
.feature__product-content-title .vm {
  font-size: 14px;
  letter-spacing: 0.2rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #696969;
}
.feature__product-content-title .vm:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.feature__product-content-title .vm > .iconify {
  color: #d6ba8d;
}
.product__content {
  position: relative;
}
.product__content .bottom__menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.product__content .bottom__menu .add__to-cart {
  background-color: #d6ba8d;
  width: 50%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu {
  width: 50%;
  display: flex;
}
.product__content .bottom__menu .right-menu .whishlist {
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu .compare {
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu .quick__view {
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 0 0.1rem;
}
.product__content:hover .carousel-control-prev-icon {
  background: url('https://api.iconify.design/dashicons:arrow-left-alt2.svg') no-repeat center center / contain;
  transition: 0.5s;
}
.product__content:hover .carousel-control-next-icon {
  background: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg') no-repeat center center / contain;
}
.product__content:hover .bottom__menu {
  height: 50%;
  position: absolute;
  top: -50%;
  opacity: 1;
}
.product__content .product__content_title-text {
  position: relative;
}
.product__content .product__content_title {
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  font-size: 1.4rem;
  line-height: 3.6rem;
}
.product__content .product__content_price {
  display: flex;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.1rem;
  color: #d6ba8d;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.icon__direction {
  background-image: url("/assets/images/16-home-jewelry-v2_01.jpg");
}
.hidden {
  display: none;
}
.view__product {
  position: fixed;
  bottom: 5rem;
  top: 5rem;
  right: 5rem;
  left: 5rem;
  background-color: blueviolet;
  z-index: 600;
}
.blog__update .blog__update-title {
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin: 8vh;
  font-size: 5.6rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 2.8rem;
}
.blog__update .blog__content .blog__content_des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog__update .blog__content .blog__content_des .blog__content_des-date {
  font-size: 14px;
  color: #cccccc;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 2.4rem;
  margin: 2rem 0;
}
.blog__update .blog__content .blog__content_des .blog__content_des-title {
  letter-spacing: 0.1rem;
  color: #333333;
  font-weight: 700;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 3.2rem;
  margin-bottom: 4rem;
  text-decoration: none;
  color: #696969;
}
.blog__update .blog__content .blog__content_des .blog__content_des-title:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.blog__update .blog__content .blog__content-line {
  width: 80%;
  height: 0.1rem;
  background-color: #eeeeee;
  margin: auto;
  opacity: 0.3;
}
.blog__update .blog__content .blog__content_des-social {
  display: flex;
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  line-height: 3.2rem;
  margin: 2rem;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-view,
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-like {
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: #696969;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-view > .iconify {
  color: #92c5d9;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-like > .iconify {
  color: #92c5d9;
}
.blog__update .blog__update-redirect {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 14vh;
  font-size: 2.4rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 2.8rem;
}
.blog__update .blog__update-redirect .blog__update-redirect-link {
  color: #333333;
  text-decoration: none;
}
.brand .brand__content-item {
  opacity: 0.5;
  transition: transform 1s;
  padding: 2rem ;
}
.brand .brand__content-item:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .social {
    display: none;
  }
  .container__home-page {
    border: 3px solid yellow;
    width: 100%;
  }
  .preamble__main {
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2.8vh 0;
  }
}
