/* 
1.0 Base
    1.1 Header
        1.1.1 Top Menu
        1.1.2 Header Menu
    1.2 Footer
        1.2.1 Footer Top
        1.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
        3.1.1 Content Page 1
        3.1.2 Cotent Page 2
    3.2 Blog Content
        3.2.1 Item Blog Content
*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Cormorant Garamond SemiBold Italic'), local('CormorantGaramond-SemiBoldItalic'), url(https://fonts.gstatic.com/s/cormorantgaramond/v7/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEOXvQ-N.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Cormorant Garamond Medium'), local('CormorantGaramond-Medium'), url(https://fonts.gstatic.com/s/cormorantgaramond/v7/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhvuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
.wapper {
  background-color: #faf9f9;
}
.font-common {
  font-family: 'Fira Sans', sans-serif;
}
.font-stylized {
  font-family: 'Cormorant Garamond', serif;
}
.reset {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.marginCommon {
  margin: auto 5.2083vh;
}
.listStyle {
  list-style: none;
}
.linkStyle {
  text-decoration: none;
  color: #696969;
}
.linkStyle:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.btnDis {
  background-color: #333333;
  width: 19.7rem;
  height: 4.8rem;
}
/*
* Start CSS header
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  height: 93vh;
  background-image: url("/assets/images/16-home-jewelry-v2_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.2rem;
}
.header .nav {
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.header .nav .nav-bar {
  position: relative;
  width: 89.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav-bar .logo {
  position: absolute;
  left: -1rem;
  top: 3rem;
}
.header .nav .nav-bar .sign__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 1rem;
}
.header .nav .nav-bar .sign__icon .checkout__icon {
  margin-right: 4.7rem;
  margin-top: 1.1rem;
  color: #ffffff;
  font-size: 2.5rem;
  position: relative;
}
.header .nav .nav-bar .sign__icon .cart_nu_count {
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-family: lato;
}
.header .header__container {
  height: 100%;
  width: 100%;
  position: relative;
}
.header .header__container .container-fluid {
  position: relative;
}
.back {
  background-color: #333333;
  opacity: 0.8;
  z-index: 300;
}
.header__navbar-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.header__navbar-list li {
  list-style: none;
}
.header__navbar-list a {
  text-decoration: none;
  color: #696969;
  font-size: 5vh;
}
.header__navbar-list a:hover {
  text-decoration: none;
  color: #d6ba8d;
}
/*
* Start navbar animation
*/
.burger div {
  width: 2rem;
  height: 0.1rem;
  background-color: #ffffff;
  margin: 0.5rem 0;
}
.header__navbar-list {
  position: fixed;
  right: -50vw;
  height: 100vh;
  top: 0px;
  background-color: #ffffff;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.header__navbar-list-active {
  right: 50%;
  transition: 1s;
  z-index: 1000;
}
.over__opacity-black {
  position: fixed;
  background-color: #333333;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  opacity: 0.8;
}
.burger {
  cursor: pointer;
}
/*
* End navbar animation
*/
/*
* Start CSS slider
*/
.slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider .slider__content {
  position: absolute;
  top: 34.1rem;
  left: -1.5rem;
}
.seasion {
  font-size: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 3.2rem;
  letter-spacing: 1.2rem;
  color: #696969;
  margin-bottom: 3.5rem;
}
.slider__caption {
  font-size: 10rem;
  font-style: italic;
  letter-spacing: 3rem;
  line-height: 10rem;
  color: #333333;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 5.4rem;
}
.button_discover {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #333333;
  width: 19.7rem;
  height: 4.8rem;
  font-family: 'Fira Sans', sans-serif;
}
.social {
  text-align: end;
  position: absolute;
  right: -28.9rem;
  top: 42.2rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.social li {
  list-style: none;
}
.social a {
  text-decoration: none;
  color: #696969;
  color: #ffffff;
}
.social a:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.social a:hover {
  font-size: 120%;
  transition: 0.5s;
}
/*
* End CSS slider
*/
/*
* End CSS header
*/
/*
* Reponsive 
*/
@media screen and (max-width: 1919px) {
  .slider .slider__content {
    top: 20rem;
  }
  .social {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .slider .slider__content {
    left: 3.5rem;
    top: 25rem;
  }
}
@media screen and (max-width: 576px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  html {
    font-size: 30%;
  }
  .header .nav .nav-bar .sign__icon .checkout__icon {
    font-size: 4rem;
  }
  .header .nav .nav-bar .sign__icon .burger div {
    width: 5rem;
    height: 2px;
    background-color: #ffffff;
    margin: 4px 0;
  }
  .slider .slider__content {
    left: 10rem;
    top: 35rem;
  }
  .slider__caption {
    letter-spacing: 1rem;
  }
}
.space-padding {
  padding-top: 3rem;
  margin-bottom: 6.5rem;
}
.footer {
  background-color: #333333;
}
.footer .footer__wapper {
  height: 100%;
}
.margin-line {
  margin-bottom: 4rem;
}
.footer__content_top-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer__content_top-menu .footer__content_top-menu-list {
  list-style: none;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
}
.footer__content_top-menu .footer__content_top-menu-list .footer__content_top-menu-item {
  margin: 0 1.8rem;
  text-decoration: none;
  color: #696969;
  text-transform: uppercase;
}
.footer__content_top-menu .footer__content_top-menu-list .footer__content_top-menu-item:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.footer__content_top-subscrice {
  width: 80%;
  height: 28%;
  border: 1px solid #696969;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.footer__content_top-subscrice:hover {
  background-color: #d6ba8d;
}
.footer__content_bottom-social {
  display: flex;
  justify-content: flex-end;
}
.footer__content_bottom-left {
  font-size: 14px;
  line-height: 28px;
  color: #696969;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.wapper__span {
  font-size: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  color: #ababab;
  border: 1px solid;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wapper__span:hover {
  border-radius: 50%;
  background-color: #d6ba8d;
  color: #696969;
}
.footer__content_top-logo {
  padding: 2rem;
}
.footer__line {
  width: 100%;
  height: 0.1rem;
  background-color: #242424;
}
.footer__content_bottom-social {
  top: -15px;
}
.footer__content_top-subscrice-icon {
  font-size: 20px;
  margin-left: 10px;
  color: #d6ba8d;
}
.footer__end {
  height: 7vh;
}
@media screen and (max-width: 1199px) {
  .footer__content_top-subscrice {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer__content_top-subscrice {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer__content_top-menu {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer__content_top-menu .footer__content_top-menu-list {
    flex-wrap: wrap;
  }
  .footer__content_top-menu .footer__content_top-menu-list .footer__content_top-menu-item {
    padding: 8px 0;
  }
  .margin-line {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer__content_top-subscrice {
    height: 150%;
  }
  .footer__content_bottom-left {
    text-align: center;
  }
  .footer__content_bottom-left .footer__content_bottom-address {
    margin-bottom: 10px;
  }
  .footer__content_bottom-social {
    margin-top: 30px;
    justify-content: center;
  }
  .wapper__span {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}
.no-padding-lr {
  padding-left: 0px;
  padding-right: 0px;
}
.add-margin-row {
  margin-left: -3rem;
  margin-right: -3rem;
}
.container__home-page {
  width: 62.5vw;
  margin: auto;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.fill-img {
  width: 100%;
}
.slogan {
  border-bottom: 0.1rem solid #efefef;
}
.slogan .slogan__item {
  border: 0.1rem solid #efefef;
  text-align: center;
}
.slogan .slogan__item .slogan__item-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
  color: #333333;
}
.slogan .slogan__item .slogan__item-detail {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #ababab;
}
.preamble__main {
  font-size: 3.4rem;
  line-height: 4.8rem;
  color: #333333;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 12rem 0;
}
/*
*feature items 
*/
.feature__items {
  width: 89.5vw;
  margin: 0 auto;
  margin-bottom: 11vh;
}
.feature__items .container-fluid {
  flex-wrap: wrap;
}
.feature__items .container-fluid .feature__items-top {
  margin-bottom: 3rem;
}
.feature__items .container-fluid .feature__item-img--small,
.feature__items .container-fluid .feature__item-img--big {
  position: relative;
  transition: transform 0.5s;
}
.feature__items .container-fluid .feature__item-img--small:hover,
.feature__items .container-fluid .feature__item-img--big:hover {
  transform: scale(0.9);
}
@media (max-width: 576px) {
  .feature__items {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .feature__items {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .feature__items {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .feature__item-img--big {
    order: -1;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .feature__item-img--big {
    order: -1;
    margin-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  .feature__item-img--big {
    order: -1;
    margin-bottom: 3rem;
  }
}
@media (max-width: 1024px) {
  .feature__item-img--big {
    order: -1;
    margin-bottom: 3rem;
  }
}
@media (max-width: 1200px) {
  .feature__item-img--big {
    order: -1;
    margin-bottom: 3rem;
  }
}
.feature__item-img--small-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.feature__item-img--small-text .feature__item-img--small-text-wapper {
  position: relative;
}
.feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 3.6rem;
  color: #333333;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40.5rem;
}
.feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-price {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 3.6rem;
  color: #d6ba8d;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  position: relative;
  top: 41.5rem;
}
.feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title-collection {
  position: absolute;
  left: 6.5rem;
  top: 33.5rem;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-toppic-collection {
  position: absolute;
  left: 6rem;
  top: 39.2rem;
  font-size: 7.2rem;
  line-height: 4.7rem;
  color: #d6ba8d;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.feature__item-img--big-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.feature__item-img--big-text .feature__item-img--big-text-frame {
  height: 65%;
  width: 32%;
  border: 0.4rem solid #ffffff;
  position: absolute;
  top: 8.8rem;
  right: 6.3rem;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent {
  height: 100%;
  background-image: linear-gradient(to top right, #ffffff, #ffffff 50%, transparent 50%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content {
  width: 85%;
  height: 90%;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item1 {
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  line-height: 6.4rem;
  color: #333333;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  margin-bottom: 2.8rem;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item2 {
  font-size: 10rem;
  line-height: 3.6rem;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  text-align: center;
  margin-bottom: 3.6rem;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item3 {
  font-size: 2.4rem;
  line-height: 6.4rem;
  color: #696969;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  text-align: center;
  margin-bottom: 2.5rem;
}
.feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item4 {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 64px;
  color: #696969;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.feature__item-img--big-text .feature__item-img--big-text-wapper {
  position: absolute;
  top: 14.5rem;
  left: 7.5rem;
}
.feature__item-img--big-text .feature__item-img--big-text-wapper .feature__item-img--big-text-wapper--title {
  width: 29.6rem;
  height: 13.1rem;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #333333;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}
.feature__item-img--big-text .feature__item-img--big-text-wapper .feature__item-img--big-text-wapper--detail {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #696969;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
/*
*feature product 
*/
.feature__product-content-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
  font-size: 5.6rem;
  line-height: 2.8rem;
  color: #333333;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
}
.feature__product-content-title .fi {
  font-size: 5.6rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  line-height: 2.8rem;
}
.feature__product-content-title .vm {
  font-size: 14px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #696969;
  position: absolute;
  right: 1.3rem;
  top: 1.6rem;
}
.feature__product-content-title .vm:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.feature__product-content-title .vm > .iconify {
  font-size: 2rem;
  color: #d6ba8d;
}
.product__content {
  position: relative;
}
.product__content .bottom__menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  display: none;
}
.product__content .bottom__menu .add__to-cart {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  background-color: #d6ba8d;
  width: 60%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu {
  width: 50%;
  display: flex;
}
.product__content .bottom__menu .right-menu .whishlist {
  font-size: 18px;
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu .compare {
  font-size: 18px;
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.1rem;
}
.product__content .bottom__menu .right-menu .quick__view {
  font-size: 18px;
  width: 33.33333333%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.1rem;
}
.product__content:hover .carousel-control-prev-icon {
  background: url('https://api.iconify.design/dashicons:arrow-left-alt2.svg') no-repeat center center / contain;
  transition: 0.5s;
}
.product__content:hover .carousel-control-next-icon {
  background: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg') no-repeat center center / contain;
}
.product__content:hover .bottom__menu {
  display: inline-flex;
  height: 60%;
  position: absolute;
  top: -60%;
  opacity: 1;
  transition: 1s;
}
.product__content .product__content_title-text {
  position: relative;
}
.product__content .product__content_title {
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 36px;
  position: relative;
  top: 0.8rem;
}
.product__content .product__content_price {
  display: flex;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.1rem;
  color: #d6ba8d;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.6rem;
  position: relative;
  top: -1rem;
}
.icon__direction {
  background-image: url("/assets/images/16-home-jewelry-v2_01.jpg");
}
.hidden {
  display: none;
}
.view__product {
  position: fixed;
  bottom: 5rem;
  top: 5rem;
  right: 5rem;
  left: 5rem;
  background-color: white;
  z-index: 600;
}
.space-between {
  margin-top: 3.5rem;
}
.blog__update .blog__update-title {
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-top: 9.5rem;
  margin-bottom: 6.5rem;
  font-size: 5.6rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 2.8rem;
}
.blog__update .blog__content {
  background-color: #ffffff;
}
.blog__update .blog__content .blog__content_des {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: auto;
}
.blog__update .blog__content .blog__content_des .blog__content_des-date {
  color: #cccccc;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 24px;
  margin: 2rem 0;
}
.blog__update .blog__content .blog__content_des .blog__content_des-title {
  letter-spacing: 0.1rem;
  color: #333333;
  font-weight: 700;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 3.2rem;
  margin-bottom: 6.2rem;
  text-decoration: none;
  color: #696969;
}
.blog__update .blog__content .blog__content_des .blog__content_des-title:hover {
  text-decoration: none;
  color: #d6ba8d;
}
.blog__update .blog__content .blog__content-line {
  width: 80%;
  height: 0.1rem;
  background-color: #eeeeee;
  margin: auto;
  opacity: 0.3;
}
.blog__update .blog__content .blog__content_des-social {
  display: flex;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  line-height: 3.2rem;
  width: 82%;
  margin: auto;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-icon-like {
  margin-left: 2.2rem;
  margin-right: 0.5rem;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-like,
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-view {
  font-size: 14px;
  line-height: 3.2rem;
  color: #696969;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 1rem;
}
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-icon-like,
.blog__update .blog__content .blog__content_des-social .blog__content_des-social-icon-view {
  color: #92c5d9;
}
.blog__update .blog__update-redirect {
  text-align: center;
  margin-top: 7.5vh;
  margin-bottom: 15vh;
  font-size: 2.4rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 2.8rem;
}
.blog__update .blog__update-redirect .blog__update-redirect-link {
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
}
/**
Brand 
*/
.brand {
  margin-bottom: 3.5rem;
}
.brand .brand__content-item {
  opacity: 0.5;
  transition: transform 1s;
  padding: 2rem;
}
.brand .brand__content-item:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title {
    top: 30rem;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-price {
    top: 30rem;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item1 {
    line-height: 0;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item2 {
    line-height: 5.6rem;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item3 {
    line-height: 28px;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item4 {
    line-height: 0px;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title-collection {
    top: 200px;
    left: 38px;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-toppic-collection {
    font-size: 60px;
    top: 278px;
    left: 38px;
  }
}
@media screen and (max-width: 992px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .slogan .slogan__item .slogan__item-title {
    font-size: 35px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  .header .nav .nav-bar .logo {
    top: 1rem;
  }
  .slogan .slogan__item .slogan__item-title {
    font-size: 18px;
  }
  .preamble__main {
    font-size: 4rem;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item1 {
    line-height: 0;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item2 {
    line-height: 5.6rem;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item3 {
    line-height: 3.4rem;
  }
  .feature__item-img--big-text .feature__item-img--big-text-frame .feature__item-img--big-text-frame-transparent .feature__item-img--big-text-frame-content .feature__item-img--big-text-frame-content-item4 {
    line-height: 20px;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title {
    font-size: 14px;
    top: 36.5rem;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-price {
    font-size: 14px;
    top: 36.5rem;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-title-collection {
    top: 88px;
  }
  .feature__item-img--small-text .feature__item-img--small-text-wapper .feature__item-img--small-text-toppic-collection {
    top: 150px;
    left: 24px;
  }
  .product__content {
    margin-bottom: 50px;
  }
  .product__content .product__content_price {
    font-size: 5.5rem;
    margin: 20px;
  }
  .whishlist,
  .compare,
  .quick__view {
    font-size: 13px;
  }
  .blog__update .blog__content {
    margin-bottom: 30px;
  }
  .blog__update .blog__content .blog__content_des .blog__content_des-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .blog__update .blog__update-redirect {
    font-size: 20px;
    line-height: 28px;
  }
}
