.space-padding {
    padding-top  : 3rem;
    margin-bottom: 6.5rem;
}

.footer {
    background-color: @color-button ;

    .footer__wapper {
        height: 100%;
    }
}

.margin-line {
    margin-bottom: 4rem;
}

.footer__content_top-menu {
    .flex();
    .flex-justify-content(center);
    .flex-align-items(flex-end);

    .footer__content_top-menu-list {
        .listStyle();
        font-size     : 14px;
        letter-spacing: 1px;
        line-height   : 24px;
        font-weight   : 700;
        .font-common();
        .flex();
        .flex-justify-content(center);

        .footer__content_top-menu-item {
            margin: 0 1.8rem;
            .linkStyle();
            text-transform: uppercase;

        }
    }
}

.footer__content_top-subscrice {
    width    : 80%;
    height   : 28%;
    border   : 1px solid @color-menu ;
    font-size: 14px;
    .font-common();
    font-weight   : 700;
    line-height   : 24px;
    letter-spacing: 2px;
    color         : @color-slogan-detail;
    .flex();
    .flex-justify-content(center);
    .flex-align-items(center);
    text-transform: uppercase;

    &:hover {
        background-color: @color-common;
    }
}

.footer__content_bottom-social {
    .flex();
    .flex-justify-content(flex-end);
}

.footer__content_bottom-left {
    font-size  : 14px;
    line-height: 28px;
    color      : @color-menu;
    font-weight: 400;
    .font-common()
}

.wapper__span {
    font-size    : 2rem;
    width        : 4.5rem;
    height       : 4.5rem;
    color        : @color-slogan-detail;
    border       : 1px solid;
    border-radius: 50%;
    margin       : 5px;
    .flex();
    .flex-justify-content(center);
    .flex-align-items(center);

    &:hover {
        border-radius   : 50%;
        background-color: @color-common;
        color           : @color-menu;
    }
}

.footer__content_top-logo {
    padding: 2rem;
}

.footer__line {
    width           : 100%;
    height          : 0.1rem;
    background-color: @line-footer;
}

.footer__content_bottom-social {
    top: -15px;
}

.footer__content_top-subscrice-icon {
    font-size  : 20px;
    margin-left: 10px;
    color      : @color-common;
}

.footer__end {
    height: 7vh;
}


@media screen and (max-width: 1199px) {
    .footer__content_top-subscrice {
        width : 100%;
        height: 100%;
    }
}


@media screen and (max-width: 768px) {
    .footer__content_top-subscrice {
        width : 100%;
        height: 100%;
    }

}

@media screen and (max-width: 576px) {
    .footer__content_top-menu {
        margin-top   : 40px;
        margin-bottom: 40px;

        .footer__content_top-menu-list {
            flex-wrap: wrap;

            .footer__content_top-menu-item {
                padding  : 8px 0;
            }
        }
    }

    .margin-line {
        margin-top   : 50px;
        margin-bottom: 50px;
    }

    .footer__content_top-subscrice {
        height   : 150%;
    }

    .footer__content_bottom-left {
        text-align: center;

        .footer__content_bottom-address {
            margin-bottom: 10px;
        }
    }

    .footer__content_bottom-social {
        margin-top     : 30px;
        justify-content: center;
    }

    .wapper__span {
        width    : 30px;
        height   : 30px;
        font-size: 15px;
    }

}